@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500;700&display=swap');

/* New Color Palette */
:root {
    --primary-color: #5181ab; /* Blue */ 
    --secondary-color: #012644; /* Pink */
    --background-color: #f5f5f5; /* Light Grey */
    --text-color: #333; /* Dark Grey */
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #012644, #012644); /* Modern gradient background */
    color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
}

/* Styles for Navigation */
#navbar {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#main-title {
    text-align: center; /* Asegura que el título esté centrado */
    font-size: 2.5em; /* Ajusta el tamaño del texto según sea necesario */
    color: white;
    margin-top: 100px; /* Espacio por encima del título */
    margin-bottom: 10px; /* Espacio debajo del título antes del test */
}


#navbar {
    background-color: var(--primary-color); /* Color de fondo */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0; /* Relleno de la barra de navegación */
    margin-left: -10px; /* Extiende hacia la izquierda */
    width: calc(100% + 20px); /* Compensa el margen negativo */
}

#navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center; /* Alinea los elementos de la lista horizontalmente y los centra */
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Relleno de los enlaces */
    margin: 0 10px; /* Margen entre enlaces */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}



#navbar a:hover {
    color: var(--secondary-color);
}

.container {
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(10px); /* Blurry background effect */
    margin-top: 60px; /* To avoid overlap with the fixed navbar */
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* Styles for Sections */
section {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

/* Styles for Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.8em;
}

#intro, form {
    background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
    color: var(--text-color); /* Black text */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transition: all 0.5s ease;
}

#imageArea {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    display: block;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
    
    .submit-button button {
    background-color: var(--secondary-color); /* Green submit button */
    margin-top: 10px;
    }
    
    #confirmationMessage {
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    animation: fadeIn 0.5s ease-in-out;
    }
    
    .responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    }
    

    #timer {
    font-size: 1.2em; 
    background-color: #007bffb0;
    color: #fff; 
    padding: 6px 15px; 
    border: 2px solid #007bff; 
    border-radius: 5px; 
    width: 600px; 
    height: 40px; 
    line-height: 40px; 
    text-align: center; 
    box-shadow: 0px 6px 10px rgba(0, 123, 255, 0.2); 
    margin: 20px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; 
    }

.openQuestion {
        width: 100%;
        padding: 15px;
        margin-top: 5px;
        border-radius: 4px;
        border: 1px solid #ddd;
        background-color: white; /* White background /
        color: var(--text-color); / Black text */
        box-sizing: border-box;
        font-size:
        
        1em;
        }
        
        .openQuestion:focus {
        border-color: #0056b3; /* Color change on focus */
        }
        

/* ... Tus estilos actuales ... */

#aboutSection {
    text-align: center; /* Centra el texto */
    margin: 0 auto;
    max-width: 800px; /* Ajusta al ancho máximo deseado */
    
/* Estilos para el desplegable */
/* Estilos para el desplegable 'About' */
.accordion {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center; /* Centrado */
    outline: none;
    font-size: 1.5em; /* Tamaño de letra igual a 'Instructions' */
    transition: 0.4s;
    border-radius: 5px;
    margin-top: 20px;
}

.active, .accordion:hover {
    background-color: #5181ab;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: var(--secondary-color);
    overflow: hidden;
    color: white;
    text-align: justify;
    font-size: 1em; /* Tamaño de fuente */
}


section h2 {
    font-size: 1.5em; /* Ajusta el tamaño del título según sea necesario */
}

section p {
    font-size: 1em; /* Asegúrate de que el tamaño del texto sea el mismo en todas las secciones */
    margin: 15px 0; /* Ajusta el margen según sea necesario */
}

/* ... Resto de tus estilos ... */

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes appear {
    from {opacity: 0; transform: scale(0.95);}
    to {opacity: 1; transform: scale(1);}
}

/* Responsiveness */
@media (max-width: 768px) {
    #navbar a {
        margin: 0 10px;
    }
}

@media (max-width: 600px) {
    .container, section, #timer {
        width: 100%;
        box-sizing: border-box;
    }
}}